<div class="form-wrapper">

<h2> Login </h2>
<div class="row">
    <p class="error" *ngIf="errorMessage"> {{ errorMessage }}
    <form (ngSubmit)="loginSubmit()" class="col s12">

      <div class="row">
        <div class="input-field col s12">
          <input id="username" type="text" class="validate" name="username" [(ngModel)]="">
          <label for="username" data-error="wrong" data-success="right">Username</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <input id="password" type="password" class="validate">
          <label for="password">Password</label>
        </div>
      </div>

      <button class="btn waves-effect waves-light" type="submit" name="action">Submit
    <i class="material-icons right">send</i>
  </button>
    </form>

    <a class="waves-effect waves-light btn" href="/auth/facebook">Facebook</a>
    <a href="#"></a>
  </div>
</div>
